DATABASE_URL="postgresql://user:password@localhost:5432/helpdesk"
PORT=3001
BETTER_AUTH_SECRET="your-secret-key-at-least-32-characters"
BETTER_AUTH_URL="http://localhost:3001"
TRUSTED_ORIGINS="localhost"
ADMIN_EMAIL="admin@desk.com"
ADMIN_PASSWORD="your-admin-password"
